body {
  overflow-x: auto;
  overflow-y: hidden;
}

.Menu {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#MainPicBackground {
  position: relative;
  display: block;
  height: 100vh;
  z-index: -1;
}

.nav {
  display: block;
}

.nav-tabs {
  border: none;
}

.MainBtnsBar {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.main-btn {
  display: inline;
  margin: 5px;
  text-align: center;
  font-size: 35px;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.8);
}

.tab-content {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 10px
}

.MusPlayer {
  position: relative;
  padding: 15px;
  box-shadow: 0 5px 15px black;
  border-radius: 10px;
  background: linear-gradient(20deg,  #005b97, #8B99F9);
  text-align: right;
}

.MusTitle {
  float: left;
  font-size: 28px;
  font-weight: 500;
  margin-right: 5vw;
  margin-left: 5vw;
  color: white;
  text-shadow: -5px 5px 10px rgba(0, 0, 0, 0.8);
}

.btnMusPlayer {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  margin-right: 10px;
  outline: none;
}

.SleepTimer {
  position: relative;
  padding: 15px;
  box-shadow: 0 5px 15px black;
  border-radius: 10px;
  background: linear-gradient(-20deg,  #005b97, #8B99F9);
}

.TabTitle {
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: white;
}

.custom-range {
  height: 2rem;
  padding: 15px;
  border-radius: 6px;
  background: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.TimerCounter {
  display: inline-block;
  font-size: 100px;
  color: white;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.CardTitle {
  width: 100%;
  padding: 10px;
  text-align: right;
  border-radius: 6px;
  color: white;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.SubText {
  color: white;
  font-size: 20px;
}

.BookBackground {
  width: 100%;
  height: 76vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 5px 8px;
}

.NotesBackground {
  width: 100%;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 8px;
}

.PageBtns {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  margin: 5px 0;
  padding: 5px;
  border-radius: 6px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.btnPage {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 40px;
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  outline: none;
}

.LeftPic {
  width: 40%;
  float: left;
  margin-right: 15px;
  border-radius: 5px;
}

.RightPic {
  width: 40%;
  float: right;
  margin-left: 15px;
  border-radius: 5px;
}

.CenterPic {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
}

.ContentTitle {
  font-size: 22px;
  font-weight: 500;
  margin: 5px 0;
}

.Note {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
  background: linear-gradient(20deg,  #005b97, #8B99F9);
  margin: 15px 0;
  padding: 10px;
}

.NoteTitle {
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  padding: 5px;
  color: white;
  border: none;
  outline: none;
  background-color:rgba(0, 0, 0, 0);
}

.NoteText {
  width: 100%;
  font-size: 16px;
  padding: 5px;
  color: white;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

.btnAddNote {
  width: 100%;
  font-size: 23px;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
  color: white;
  background: linear-gradient(-20deg,  #005b97, #8B99F9);
}