body {
  overflow-x: auto;
  overflow-y: hidden;
}

.Menu {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#MainPicBackground {
  position: relative;
  display: block;
  height: 100vh;
  z-index: -1;
}

.Post {
  position: relative;
  display: inline-block;
  padding: 4%;
  margin: 10px 15px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  background-image: linear-gradient(45deg, #01406C, #7594d8);
  color: white;
  font-size: 500;
}

.PostList {
  position: absolute;
  z-index: 1;
  top: 10px;
}

.PostTitle {
  font-size: 23px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.PostText {
  font-size: 18px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnMusPlayer {
  display: inline-block;
  color: white;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  margin-right: 10px;
  outline: none;
}